

<div class="container">

<div>
  <h1>Powder Hound</h1>
</div>

<div>
  <p>
    Get the deets for the next big snow for resorts surrounding Seattle by
    clicking on the markers below. Must signup and loggedin to access snow info
    as well as post comments and photos.
  </p>
</div>

<div id="map">
</div>


<div>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
</div>


</div>
