

<div class="container intro">

<div class="row title">
  <div class="col">
    <h1>Powder Hound</h1>
  </div>
</div>


<div class="conatiner">
  <div class="row">
    <div class="col-md-9">
      <div id="map"></div>
    </div>
    <div class="col-md-3 titleIntro">
      <p>
        Get the deets for the next big snow on the ski resorts around Seattle by
        clicking on the markers below. Must signup and/or be logged in to access snow info
        as well as post comments and photos.
      </p>
    </div>
  </div>
</div>

<div>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
</div>



</div>
