
body{
  font-family: 'Coiny', cursive;
}

 #map {
   width: 100%;
   height: 400px;
   /* background-color: grey; */
 }

.image {
  width: 100%;
  margin: auto;

}

.button {
  padding-bottom: 10px;
}

.info {
  font-weight: 800;
}

.date {
  text-decoration: underline;
}

.footer {
  text-align: center;
  border: none;
  margin-top: 10px;
}
.signHere {
  margin-top: 10px;
}
