<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<a class="navbar-brand" href="#">Navbar</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="#">Features</a>
<a class="nav-item nav-link" href="#">Pricing</a>
<a class="nav-item nav-link disabled" href="#">Disabled</a>
</div>
</div>
</nav>

<form  class="edit-post  " action="/forecast/<%= post.id %>/new" >
  <div class="form-group">
    <label for="comment">edit comment</label>
    <textarea type="text" class="form-control" id="comment" name="comment" value="<%= post.comment %>"></textarea>
    <input id="resortName" hidden type='text' name='title' value="<%= post.title %>">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
