<nav class="navbar rounded navbar-light bg-faded">
  <a class="navbar-brand" href="/">Powder Hound</a>
</nav>


<form  class="edit-post  " action="/forecast/<%= post.id %>/new" >
  <div class="form-group">
    <label for="comment">edit comment</label>
    <textarea type="text" class="form-control" id="comment" name="comment" value="<%= post.comment %>"></textarea>
    <input id="resortName" hidden type='text' name='title' value="<%= post.title %>">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
